*::before,
*::after{box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;}


  :root{
    --color-primaray:#ff5722;
    --color-primary-light:#ff7a50;
    --color-secondary-light:#fff6f2;
    --color-secondary-dark:#ffa589;
    --color-navbar-:#f8f8f8;
    --color-headings:#000;
    --color-body:#333333;
    --color-white:#fff;
  }
  html{font-size: 62.5%;}
  body{color: var(--color-body);
  font-size: 1.4rem;}

  h1,h2,h3{color: var(--color-headings);
  font-size: 700;}
  h1{font-size: 2.5rem;}
  h2{font-size: 2.2rem;}
  
  @media screen and(min-width:1024px) {
    body{
      font-size: 1.8rem;
    }
    h1{font-size: 5rem;}
    h2{font-size: 3.5rem;}
  }
  .btm {
    cursor: pointer;
    outline: 0;
    border: 0;
    padding:2rem 2.5rem;
    border-radius: 8px;
    margin: 1rem 0;
    text-align: center;
    white-space: nawrap ;
    font-size: 1,4rem;
  }
.btm--primary{
  background-color: var(--color-primaray);
  color: var(--color-white);
}
.btm-secondary{
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.btm-block{
  width: 100px;
  font-size: 1.6rem;
}
@media screen and (min-width:1024px) {
  .btm{
    font-size: 1.6rem;
  }
  .btm{
    font-size: 2rem;
  }
}
.badge{
  display: block;
  padding: 0.5 1rem;
  background-color: #fff;
  border-radius: 32px;
  border: 2px solid var(--color-primaray);
  color: var(--color-primaray);
  text-transform: uppercase;
  font-size: 1.2rem;
}
.badge--primaray{
  background-color: var(--color-primaray);
  color: var(--color-white);
}
@media screen and (min-width: 1024px) {
  .badge{
    font-size: 1.4rem;
  }
  
}
.list{
  list-style: none;
  font-size: 1.8rem;
}
.list--inlain .list--item{
  display: inline-block;
  margin-left: 2rem;
}
.list--tick .list--item {
  background: url(/assts/images/tick.svg) no-repeat;
  background-position: right center;
  padding-right: 3rem;
  margin-bottom: 1.5rem;
}
.list--tick .list--item{
  background-color: #f8f8f8;
  margin-bottom: 20px;
}
@media screen and(min-width:1024px) {
  .list--tick .list--item{
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
}
.block-plan{
  display: grid;
  gap: 2rem 3rem;
  margin-top: 2rem;
}
.plan{
  max-width: 500px;
  font-size: 1.8rem;
}
.card{
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 20px 10px #efefef;
}
.card__header,
.card__body{
  padding: 3rem 2.5rem;
}
.card__header{
  background-color: var(--color-secondary-dark);
  color:var(--color-white);
}
.card--primary.card__header{
  background-color: var(--color-primary-light);
}
.plan__introduction{
  display: flex;
  justify-content: space-between;
  margin-bottom:1.5rem ;
}
.plan__price{
  font-size: 3rem;
}
.plan__billing-cycle{
  font-size: 1.4rem;
}
.plan__description{
  margin-top:1.5rem;
  display: block;
}

@media screen and (min-width:1024px) {
  .block-plan{
    grid-template-columns: repeat(3, 1fr);
  }
  
}

